


body{
	background-image: url(../images/space_background.jpg);
	background-size: cover;
}

.jumbotron{
	padding: 0;
	margin:0 auto;
	background-color: transparent;

}
.btn-outline-warning {
	font-family: 'Black Ops One', cursive;
    color: #ffe81f;
    border-color: #ffe81f;
    /*font-weight: bold;*/
}
.btn-outline-warning:hover {
	font-family: 'Black Ops One', cursive;
	color: #000;
    border-color: #ffe81f;
    background-color: #ffe81f;
    /*font-weight: bold;*/
}

.btn-outline-warning:not(:disabled):not(.disabled):active{
	 border-color: #ffe81f;
    background-color: #ffe81f;
}
#logo{
	width:312px;
}



#firstSection{
 	border-bottom: 5px solid #ffe81f;
 	padding-bottom: 25px;

}

#select-option{
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	margin:12px auto;
}

div.fightingArea img{
	border: 4px solid #ffe81f;
	width: 100%;
	max-width: 800px;
	color: #ffe81f ;
	clear: both;
	position: relative;
	height: 360px;
	margin-bottom: 10px;
}

.btn{
	margin-top: 20px;
}

#firstSection img{
	width: 150px ;
	height: 150px ;
	flex: 0 0 15.79% !important;
}


#rey, #luke, #maul, #vader {
	position: relative;
	width: 150px;
	height: 150px;
}

#player-fight-area{
	position: absolute;
	left:550px;
	top: 580px;
	width: 150px;
	height: 150px;
	margin: 0px;
}

#enemy-fight-area{
	position: absolute; 
	right: 581px;
	top: 580px;
	width: 150px;
	height: 150px;
	margin: 0px;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#player-name{
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	position: absolute;
	left:440px;
	top: 430px;
}

#enemy-name{
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	position: absolute;
	right: 440px;
	top: 430px;
}

#player-hp {
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	position: absolute;
	left:440px;
	top: 460px;
}
#enemy-hp {
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	position: absolute;
	right: 440px;
	top: 460px;
}

#player-total-hp {
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	position: absolute;
	left:440px;
	top: 490px;

}

#enemy-total-hp {
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	position: absolute;
	right: 440px;
	top: 490px;
}