
body{
	background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
	/*background-size: cover;*/
	height: 100%;
}

#start{
	position: absolute;
	height: 156%;
	width: 100%;
	background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
	z-index: 20;
}

#start button{
	position: absolute;
    top: 55%;
    left: 89%;
    width: 125px;

}
/*--------------------------------------------*/

#skip{
	z-index: 23;
}
#content p{
  color: #ffe81f;
}

#content h2, #content h3 {
  color: #ffe81f;
  font-size: 100px;
  font-weight: bold;
}

/* Set the font, lean the board, position it */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(16deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 440%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
  z-index: 21;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 150s linear 16s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}



.intro {
    position: absolute;
    top: 25%;
    left: 24%;
    animation: intro 8s ease-out 1s;
    color: #4bd5ee;
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
    font: 700 3em "News Cycle", sans-serif;
    letter-spacing: .15em;
    z-index: 21;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#start img {    
    position: absolute;
    top: 24%;
    left: 40%;
    z-index: 21;
    margin: auto;
    animation: logoStart 9s ease-out 9s;
    opacity: 0;
}

@keyframes logoStart {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;        
    }
}
/*----------------------------------------*/

.jumbotron{
	padding: 0;
	margin:0 auto;
	background-color: transparent;

}
.btn-outline-warning {
	font-family: 'Black Ops One', cursive;
	color: #ffe81f;
	border-color: #ffe81f;
	/*font-weight: bold;*/
}
.btn-outline-warning:hover {
	font-family: 'Black Ops One', cursive;
	color: #000;
	border-color: #ffe81f;
	background-color: #ffe81f;
	/*font-weight: bold;*/
}

.btn-outline-warning:not(:disabled):not(.disabled):active{
	border-color: #ffe81f;
	background-color: #ffe81f;
}
#logo{
	width:312px;
}

.backgrd{
	background-image: url(../images/fighting-area.jpg);
	background-size: cover;
	width: 800px;
	height: 350px;
	border: 4px solid #ffe81f;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 25px;
}

.enemySide{
	text-align: right;
}
div#player-fight-area {
	margin: 70px;
	padding-left: 145px;
}

div#enemy-fight-area {
	margin: 70px;
	padding-right: 145px;
}

#firstSection{
	border-bottom: 5px solid #ffe81f;
	padding-bottom: 25px;

}

#select-option{
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
	margin:12px auto;
	font-size: 25px;

}

div.fightingArea img{
	width: 740px;
	max-width: 800px;
	color: #ffe81f ;
	margin-bottom: 10px;
}

.btn{
	margin-top: 20px;
}

#firstSection img{
	width: 150px ;
	height: 150px ;
	flex: 0 0 15.79% !important;
}


#rey, #luke, #maul, #vader {
	/*position: relative;*/
	width: 180px;
	height: 150px;
}


.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#player-name, #enemy-name, #player-hp, #enemy-hp, #player-total-hp, #enemy-total-hp {
	font-family: 'Black Ops One', cursive;
	color:#ffe81f;
}

